<!--メッセージが10件以上あれば以前のメッセージへのリンクを表示する-->
<% if @over_ten %>
<%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

  <% @messages.each do |message| %>
   <% if message.body != nil %>
    <%  user = User.find(message.user_id) %>
  	 <div> <%= user.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= message.body%>
  	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  	 
   <% end %>
  <% end %>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
<%= f.text_area :body, class: "form-control" %>
<%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
<%= f.submit "メッセージを送る" %>
<% end %>