<p id="notice"><%= notice %></p>

<div>
  <strong>顧客:</strong>
  <%= @membership.user %>
</div>

<div>
  <strong>Project:</strong>
  <%= @membership.project %>
</div>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
