<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>


    <% @blogs.each do |blog| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= blog.title %></h3>
      </div>
      <div class="panel-body">
        <%= blog.content %><br/>
        <em><%= blog.created_at %></em>
      </div>
    </div>
    <% end %>



<br>

<%= link_to 'New Blog', new_blog_path %>
