<p id="notice"><%= notice %></p>

    <% @blogs.each do |blog| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= blog.title %></h3>
      </div>
      <div class="panel-body">
        <%= blog.content %><br/>
        <em><%= blog.created_at %></em>
         <em>投稿者:<%= blog.user.name %></em>
      </div>
    </div>
    <% end %>

<br>

<%= link_to 'New Blog', new_blog_path %>
<%= link_to 'Back', blogs_path %>