<div>
  <strong>Blog:</strong>
  <%= @comment.blog %>
</div>

<div>
  <strong>Comment:</strong>
  <%= @comment.user %>
</div>

<div>
  <strong>Content:</strong>
  <%= @comment.content %>
</div>

<%= link_to 'Edit', edit_blog_comment_path(@comment.blog,@comment) %> |
<%= link_to 'Back', blog_path(@comment.blog) %>
