<div>
  <strong>User:</strong>
  <%= @taskline_task_comment.user %>
</div>

<div>
  <strong>Task:</strong>
  <%= @taskline_task_comment.task %>
</div>

<div>
  <strong>Content:</strong>
  <%= @taskline_task_comment.content %>
</div>

<%= link_to 'Edit', edit_taskline_task_comment_path(@taskline_task_comment) %> |
<%= link_to 'Back', taskline_task_comments_path %>
