
<div>
  <strong>User:</strong>
  <%= @task.user.name %>
</div>

<div>
  <strong>Title:</strong>
  <%= @task.title %>
</div>

<div>
  <strong>Content:</strong>
  <%= @task.content %>
</div>

<div>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</div>

<div>
  <strong>Charge:</strong>
  <%= @task.charge.name %>
</div>

<div>
  <strong>Done:</strong>
  <%= if @task.done? then "完了" else "未完了" end%>
  
</div>

<div>
  <strong>Status:</strong>
   <%= if @task.status ==1 then "対応中" elsif @task.status ==0 then "未着手" end %>
</div>

<%= link_to 'Edit', edit_user_task_path(@task.user, @task) %> |
<%= link_to 'Back', user_tasks_path(@task.user) %>
