<div class="container">
  <h2>お知らせ</h2>
  <hr>
  <% @notifications.each do |notification| %>
    <ul class="notification-list">
      <li>
        <span class="label label-pill label-default"><%= display_read_status(notification.read) %></span>
        <div>
          <%= receive_user(notification) %>さんからのメッセージ
         <small class="dropdown">>>
       <%=notification.submit_request_id %></small>
        </div>
        <div class="palette-paragraph text-right">
          <small class="dropdown">
            <i class="fa fa-clock-o"></i>&ensp;<%= posted_time(notification.created_at) %>
             <%= notification.submit_request_id%>
          </small>
        </div>
      </li>
      <hr>
    </ul>
  <% end %>
</div>