<%= form_for([@user, @submit_request]) do |f| %>
 <div><%= f.collection_select :task_id, @tasks, :id, :title %></div>
 <div><%= f.collection_select :charge_id, @users, :id, :name %></div>
 <div><%= f.text_area  :message, placeholder: "依頼メッセージ", size: "50*100" %></div>
 <div><%= f.hidden_field :user_id%></div>
 <div><%= f.hidden_field :status %></div>
 <div><%= f.submit "更新する", class: "btn btn-large btn-primary" %></div>
<% end %>

<%= link_to '依頼一覧', user_submit_requests_path(@submit_request) %>
