
<% if submit_requests.present? %>
 <h4>自分が依頼したタスクは<%= submit_requests.count %>件です</h4>

  <table class="table table-bordered">
    <th>ステータス</th>
　　<th>タスク・タイトル</th>
　　<th>依頼者</th>
　　<th>担当者</th>
　　<th>依頼日</th>
　　<th>タスク・ステータス</th>
　　<tbody>
    <% submit_requests.each do |sr| %>
      <tr>
       <!--ステータス -->
       <% if sr.status == 1 %>
        <td>未承認</td>
       <% elsif sr.status == 2 %>
         <td>了承されました。</td>
       <% elsif sr.status == 8 %>
        <td>依頼を取り消しました。</td>
       <% elsif sr.status == 9 %>
         <td>却下されました。</td> 
       <% end %>
       
       <!--タスク・タイトル -->
       <td><%= link_to sr.task.title , task_path(sr.task) %></td>
       
       <!--タスク登録者 -->
       <td><%= sr.user.name %></td>
       
       <!--担当者 -->      
       <% if sr.charger.id == current_user.id %>
       <td>自分</td>
       <% else %>
       <td><%= sr.charger.name %></td>
       <% end %>
       
       <!--依頼日 -->
       <td><%= sr.created_at.strftime("%Y年 %m月 %d日")%></td>
 
       <!--タスク・ステータ日 -->
        <% if sr.task.done == true %>
       <td>完了</td>
       <% else %>
       <td>未完了</td>
       <% end %>
       
       <td><%= link_to '詳細',submit_request_path(sr)%></td>
       <% if  sr.status == 2 or sr.status == 8 %>
       <td>&emsp;&emsp;</td>
       <% else %>
       <td><%= link_to '編集',edit_submit_request_path(sr)%></td>
       <% end %>
       
       <!--ステータス -->
       <% if  sr.status == 1 %>
       <td> <%= link_to "依頼の取り消し", submit_request_reject_path(sr) %></td>
       <% else %>
       <td>&emsp;&emsp;</td>
       <% end %>
      </tr>
    <% end %>
　　</tbody>
   </table>
 <%end %>
 
 <%= link_to '新規依頼',new_user_submit_request_path, class: "btn btn-large btn-primary"%>
 <%= link_to '依頼されている一覧',inbox_user_submit_requests_path , class: "btn btn-large btn-primary"%>