
<% if submit_requests.present? %>


 <h4>依頼されているタスクは<%= submit_requests.count %>件</h4>

  <table class="table table-bordered">
    <th>ステータス</th>
　　<th>タスク・タイトル</th>
　　<th>依頼者</th>
　　<th>担当者</th>
　　<th>依頼日</th>
　　<th>タスク・ステータス</th>
　　<tbody>
    <% submit_requests.each do |sr| %>
      <tr>
       <!--ステータス -->
       <% if sr.status == 1 %>
        <td>未承認です。</td>
       <% elsif sr.status == 2 %>
         <td>承認しました。</td>
       <% elsif sr.status == 8 %>
        <td>取り消し済</td>
       <% elsif sr.status == 9 %>
         <td>却下しました。</td> 
       <% end %>
       
       <!--タスク・タイトル -->
       <td><%= link_to sr.task.title , task_path(sr.task) %></td>
       
       <!--依頼者 -->
       <td><%= sr.user.name %></td>
       
       <!--担当者 -->      
       <% if sr.charger.name == current_user.name %>
       <td>自分</td>
       <% else %>
       <td><%= sr.charger.name %></td>
       <% end %>
       
       <!--依頼日 -->
       <td><%= sr.created_at.strftime("%Y年 %m月 %d日")%></td>
 
       <!--タスク・ステータ日 -->
        <% if sr.task.done == true %>
       <td>完了</td>
       <% else %>
       <td>未完了</td>
       <% end %>
       
       <td><%= link_to '詳細',submit_request_path(sr)%></td>
       <td><%= link_to '編集',edit_submit_request_path(sr)%></td>
      
             <!--ステータス -->
       <% if sr.status == 1 %>
        <!--未承認 -->
       <td><%= link_to  "承認する",submit_request_approve_path(sr) %> </td>
       <td><%= link_to "却下する", submit_request_unapprove_path(sr) %> </td>
       <% elsif sr.status == 2 %>
       <!--了承済 -->
         <td colspan="2"><%= link_to "却下する", submit_request_unapprove_path(sr) %> </td>
       <% elsif sr.status == 9 %>
         <!--却下 -->
         <td colspan="2"><%= link_to  "承認する",submit_request_approve_path(sr) %> </td>
       <% end %>


      </tr>
    <% end %>
　　</tbody>
   </table>
 <%end %>
 
 <%= link_to '新規依頼',new_user_submit_request_path, class: "btn btn-large btn-primary"%>
<%= link_to '自分が依頼した一覧', user_submit_requests_path , class: "btn btn-large btn-primary"%>