<div class="list-group" >
<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>

      <h4><%= @project.errors.count %> 個のエラー</h4>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  
  
  

  <div class="field">
    <%= hidden_field_tag 'project[user_id]', current_user.id %>
  </div>
  
  <div class="list-group-item">
    <%= f.label :プロジェクト名 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="list-group-item">
    <%= f.label :内容 %><br>
    <%= f.text_area :content %>
  </div>
  <div class="list-group-item">
    <%= f.label :締め切り %><br>
        <%= f.date_select(
         :deadline,
          start_year: Time.now.year,
          end_year:   Time.now.year + 18,
          default:   Time.now) %>
  </div>
  <div class="list-group-item">
    <%= f.label :顧客 %><br>
    <%= f.select :customer_id, @customers.map{|t| [t.customer_name, t.id]} %>
  </div>
  <div class="list-group-item">
    <%= f.label :完了 %><br>
    <%= f.check_box :done %>
  </div>
  <div class="list-group-item">
    <%= f.label :ステータス %><br>
    <%= f.select:status,[["未着手","0"],["対応中","1"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>