
<div>
   <strong>質問タイトル</strong><br>
  <%= @qa.title %>
</div><br>

<div>
  <strong>質問内容</strong><br>
  <%= @qa.content %>
</div><br>

<div>
    <strong>カテゴリー</strong><br>
    <%= @category[@qa.category_id-1 ] %>
</div><br>

<div>
   <strong>プログラミング言語</strong><br>
  <%= @language[@qa.language_id-1 ] %>
</div><br>

<div id="comments_area">
<%= render partial:'qacomments/index',locals: { qacomments: @qacommnents} %>
</div>

<%= render partial:'qacomments/form',locals: { qacomment: @qacommnent} %>

<%= link_to 'Edit', edit_qa_path(@qa) %> |
<%= link_to 'Back', qas_path %>
