<h1>Contact#confirm</h1>
<h1>お問い合わせフォーム</h1>


<%= form_for @contact, :url => contact_thanks_path do |f| %>

<table class="table">
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :name%>
        <%= @contact.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= @msee %>
        
      </td>
    </tr>
  </table>
  <%= f.submit '送信', :class => 'btn btn-primary' %>

<% end %>



