<%= form_for(@projecttask) do |f| %>
  <% if @projecttask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projecttask.errors.count, "error") %> prohibited this projecttask from being saved:</h2>

      <ul>
      <% @projecttask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= hidden_field_tag ' projecttask[user_id]', current_user.id %>
    <%= hidden_field_tag ' projecttask[project_id]', @pj_num %>
  </div>

  <div class="field">
    <%= f.label :projecttask_title %><br>
    <%= f.text_field :projecttask_title %>
  </div>
  <div class="field">
    <%= f.label :projecttask_content %><br>
    <%= f.text_area :projecttask_content %>
  </div>
  <div class="field">
    <%= f.label :projecttask_deadline %><br>
    <%= f.datetime_select :projecttask_deadline %>
  </div>
  <div class="field">
    <%= f.label :projecttask_charge_id %><br>
    <%= f.number_field :projecttask_charge_id %>
  </div>
  <div class="field">
    <%= f.label :projecttask_done %><br>
    <%= f.check_box :projecttask_done %>
  </div>
  <div class="field">
    <%= f.label :projecttask_status %><br>
    <%= f.number_field :projecttask_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
