
<h4><%= @project.title %>のタスク一覧</h4>

<table class="table table-bordered">
  <thead>
    <tr>
       <th>プロジェクトID</th>
      <th>タスク名</th>
      <th>タスク作成者</th>
      <th>タスク内容</th>
      <th>締め切り</th>
      <th>担当者</th>
      <th>完了</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>


    <% @projecttasks.each do |projecttask| %>
    <% num = @pj_num.to_i %>
    <% if num == projecttask.project_id %>

      <tr>
        <td><%= projecttask.project_id %></td>
       <td><%= projecttask.projecttask_title %></td>
        <td><%= projecttask.user.name %></td>
        <td><%= projecttask.projecttask_content %></td>
        <td><%= projecttask.projecttask_deadline.strftime("%Y年%m月%d日") %></td>
        
        <% @users.each do |user| %>
        <% if user.id == projecttask.projecttask_charge_id %>
        <td><%= user.name %></td>
        <% end %>
        <% end %>
        
        <td><%= if projecttask.projecttask_done? then "完了" else "未完了" end%></td>
        

         <td><%= if projecttask.projecttask_status ==1 then "対応中" elsif projecttask.projecttask_status ==0 then "未着手" end %></td>
        <td><%= link_to 'Show', project_projecttask_path(@pj_num,projecttask) %></td>
        
         <% if current_user.id == projecttask.user.id %>
          <br><br>
        <td><%= link_to 'Edit', edit_project_projecttask_path(@pj_num,projecttask) %></td>
        <td><%= link_to 'Destroy', project_projecttask_path(@pj_num,projecttask), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td colspan="2"></td>
        <% end %>
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-default">
<%= link_to '新規タスク', new_project_projecttask_path %>
</button>
