
<h4><%= @project.title %>のタスク一覧</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>タスク作成者</th>
      <th>タスク内容</th>
      <th>締め切り</th>
      <th>担当者</th>
      <th>完了</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projecttasks.each do |projecttask| %>
      <tr>
       <td><%= projecttask.projecttask_title %></td>
        <td><%= projecttask.user.name %></td>
        <td><%= projecttask.projecttask_content %></td>
        <td><%= projecttask.projecttask_deadline.strftime("%Y年%m月%d日") %></td>
        
        <% @users.each do |user| %>
        <% if user.id == projecttask.projecttask_charge_id %>
        <td><%= user.name %></td>
        <% end %>
        <% end %>
        
        <td><%= projecttask.projecttask_done %></td>

         <td><%= if projecttask.projecttask_status ==1 then "対応中" elsif projecttask.projecttask_status ==0 then "未着手" end %></td>
        <td><%= link_to 'Show', projecttask %></td>
        <td><%= link_to 'Edit', edit_projecttask_path(projecttask) %></td>
        <td><%= link_to 'Destroy', projecttask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projecttask', new_projecttask_path %>
