<div>
  <strong>担当者:</strong>
    <% @users.each do |user| %>
        <% if user.id == @projecttask.projecttask_charge_id %>
        <td><%= user.name %></td>
        <% end %>
     <% end %>
</div>


<div>
  <strong>タスク名:</strong>
  <%= @projecttask.projecttask_title %>
</div>

<div>
  <strong>タスク内容:</strong>
  <%= @projecttask.projecttask_content %>
</div>

<div>
  <strong>締切日:</strong>
 <%= @projecttask.projecttask_deadline.strftime("%Y年%m月%d日") %>
</div>



<div>
  <strong>完了e:</strong>
　<%= if @projecttask.projecttask_done? then "完了" else "未完了" end%>
</div>

<div>
  <strong>ステータス:</strong>
　<%= if @projecttask.projecttask_status ==1 then "対応中" elsif @projecttask.projecttask_status ==0 then "未着手" end %>
</div>

<%= link_to 'Edit', edit_project_projecttask_path %> |
<%= link_to 'Back', project_projecttasks_path %>



